.cls{

    
    text-align: center ;
}
body {
    /* background-image: url("p1.jpg"); */
    background-color: #f8f8f8;
   } 
.csi{
     text-align: center;



}
.slideshow-container{
  text-align: center ;

}
.container{
  text-align: center;


}
