.cls{

    
    text-align: center ;
}

.csi{
     text-align: center;



}
.slideshow-container{
  text-align: center ;

}
.container{
  text-align: center;


}
.c{
  text-align: center
  
  ;
}
/* .csi{
  background-image: url("../imges/");
  background-color: #cccccc;
 } */
.mt{
  font-family: copperplate;
  color: darkred;
}
